<div class="story-body">
  <h2>Drake Had the Decade's Midas Touch</h2>
  <p>Drake appeared on seven of the tracks in the list. He featured on three of these tracks.</p>
  <div id="chart-3">
  	<form onsubmit="return false">
  	<div class="container">
  	<select id="artistNames" type="text" autocomplete="off" defaultValue="Drake">
    </select>
    <h4 id="artistName"></h4>
  </div>
  	</form>
  </div>
</div>
