<div class="story-body">
  <h2>Drake Had the Decade's Midas Touch</h2>
  <p>The 200 best songs of the decade were performed by 166 artists in total when considering main performers as well as featured artists for each song. The vast majority of artists appeared just once in this list, with only 28 artists performing on more than one track from the list. Among these distinguished few artists whose output was recognized more than once on the list, Drake reigns on a tier above with seven appearances. Songs performed by or featuring Drake account for a full 3.5% of the list, and the artist with the next highest number of appearances is Beyoncé with five. If we consider only perfoming artist of each song and exclude features, Drake and Beyoncé share the record for most appearances on this list at four (along with Kanye West, Rihanna, and Frank Ocean).</p>
  <p>Use the dropdown below to explore the artists featured on the list. Mouse over the figure below to learn which of the artist's songs made it.</p>
  <div id="chart-3">
  	<form onsubmit="return false">
  	<div class="container">
  	<select id="artistNames" type="text" autocomplete="off" defaultValue="Drake">
    </select>
    <h4 id="artistName"><p></p></h4>
  </div>
  	</form>
  </div>
</div>
