<div class="story-body">
  <h2>You Can Make It Big Even If You're Small... Sort Of</h2>
  <p>Although major labels like Columbia and Interscope were the labels that released the most songs featured on Pitchfork's list, each with twelve releases, artists who released their music without any label at all were still able to secure nine spots on this list. This put self-released artists at a slightly higher representation than several major labels including hip-hop and rap titans Def Jam and Cash Money, as well as record companies with more broad genre representation like Epic.</p>
  <p>On the other hand, it's worth noting that for every upstart track like Lil Peep's "Kiss", a truly independent release from an artist gaining label-free fame on YouTube and SoundCloud, the list features another track like Frank Ocean's "Nights" from 2016's <i>Blonde</i>. That album is only considered an independent release because Ocean put out video album <i>Endless</i> the day before to free himself from a contract that he found disagreeable with former label Def Jam. Goes to show that it's easier to be an independent artist with a record deal under one's belt.</p>
  <div id="chart-2"></div>
</div>