<div class="story-body">
  <h2>You Can Make it Big without a Label</h2>
  <p>Nine of the Top 200 songs were self-released, placing independent releases on par with the other two leading labels of the decade: XL and Columbia.</p>
  <div id="chart-2"></div>
</div>