<div class="story-body">
  <h2>They Don't Make 'Em Like They Used To</h2>
  <p>The first question I explored was how the songs were distributed with respect to release year. Would the Pitchfork editors would make an effort to include equal representation from each year? I was curious how this group of writers would weigh the novelty of new tracks against the nostalgia for songs that came out up to a decade ago.</p>
  <p>Charting the distribution of years in the list reveals that, according to Pitchfork, the early 2010s were the best and brightest years of this decade. 2012 was the year with the most tracks at 28 entries. What's more, songs from 2010-2012 account for a full 40% of the list. These golden years stand in contrast with 2019, from which Pitchfork identified only six songs as being among the best of the decade. Even accounting for the fact that Pitchfork released this list in October instead of December—the only reason I can imagine for why <a href="https://www.youtube.com/watch?v=UIcVwH47uxQ">Big Thief's "Not"</a> isn't included—six songs is a good deal short of the 20 that we'd expect under an equal distribution among years.</p>
  <p>Mouse over the chart below to explore the songs from each year.</p>
  <div id="chart-1"></div>
</div>