<!doctype html>
<html lang='en'>

<head>

  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/auto-complete.css">

  {{> base/meta}}

  {{> base/fonts }}

  {{> base/analytics }}

</head>

<body>

  <!-- The headline area pulls most of its content from data/meta.json -->

  {{> base/headline }}

  <main id='content'>

      {{> story/intro}}


      {{> story/byYear }}

      {{> story/byArtist }}

      {{> story/byLabel }}

    </div>

    {{> base/footer }}
  </main>

  <!-- We'll always keep this JS files around -->
  <script src="scripts/vendor/ai2html-resizer.js"></script>
  <script src="scripts/vendor/auto-complete.js"></script>

  <!-- This is where you'll put your JavaScript files -->
  <script src="scripts/stacked_bar_chart.js"></script>
  <script src="scripts/self_released.js"></script>
  <script src="scripts/artist_appearances.js"></script>
  {{!-- // <script src="./js/autoComplete.min.js"></script> --}}


</body>
</html>